@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: hsl(212, 45%, 89%)
}

main {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 481px;
    width: 340px;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

img {
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 10px;
}

p {
    padding-top: 20px;
    padding: 10px;
    text-align: center;
}

p#texto1 {
    color: hsl(228, 71%, 14%); 
    font-weight: bolder;
    font-size: 1.2em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
}